<div class="flex flex-col justify-center items-center h-full">
  <img src="assets/images/login-illust.svg" alt="Login Illustration" class="w-[50%]">
  <h1 class="font-bold text-2xl mt-6">Welcome Back!</h1>
  <p class="font-light text-gray-500 text-sm">Please enter your details</p>
  <form class="mt-11" [formGroup]="loginForm">
      <div class="flex flex-col">
        <input type="text" name="username" placeholder="Username" id="username" formControlName="username" class="w-64 h-12 border rounded-lg px-4">
      </div>
      <div class="flex flex-col mt-5">
        <input type="password" placeholder="Password" formControlName="password" class="w-64 h-12 border rounded-lg px-4">
      </div>
      <button class="w-64 h-10 bg-black text-white font-semibold rounded-lg mt-5 hover:bg-slate-800 disabled:bg-slate-600" (click)="doLogin()" [disabled]="!loginForm.valid">Login</button>
  </form>
  <button class="mt-14 text-sm" (click)="doRedirectForgotPassword()">Forgot Password?</button>
</div>