<div class="w-full h-[500px] overflow-hidden">
  <google-map></google-map>
  <div id="map"></div>
  <div class="flex flex-row w-full p-6 justify-between relative -top-[20%]">
    <button (click)="goBack()">
      <img src="assets/icons/arrow-left-circle.svg" alt="Arrow Left Icon" class="w-10">
    </button>
    <button>
      <img src="assets/icons/target-icon.svg" alt="Target Icon" class="w-10">
    </button>
  </div>
  <div class="w-full h-[calc(100vh_-_475px)] bg-white rounded-t-xl absolute bottom-0 p-6 flex flex-col justify-between">
    <div class="">
      <form [formGroup]="orderForm">
        <div class="w-full h-max p-2 flex flex-row">
          <img src="assets/icons/dot-orange.svg" alt="Orange Circle" class="w-8">
          <input type="text" class="bg-none w-full border-none ml-3 font-normal pl-2" [value]="orderForm.value.storeLocation" formControlName="storeLocation">
        </div>
        <div class="w-full h-max p-2 rounded-lg flex flex-row mt-4 bg-slate-200">
          <img src="assets/icons/pin-point-green.svg" alt="Orange Circle" class="w-8">
          <input type="text" class="bg-transparent w-full border-transparent ml-3 font-normal pl-2" placeholder="Insert your address" formControlName="userAddress">
        </div>
      </form>
    </div>
    <button class="w-full h-max bg-black text-white font-semibold text-sm p-4 rounded-lg" (click)="doOrder()">Order Now</button>
  </div>
</div>