<div class="w-full h-max bg-black p-6">
  <!-- HEADER SECTION -->
  <div class="flex flex-row justify-between">
    <button>
      <img src="assets/icons/hamburger-icon.svg" alt="Hamburger Icon" class="w-5">
    </button>
    <div class="flex flex-row">
      <p class="text-white font-semibold">DKI Jakarta</p>
      <img src="assets/icons/location-pin.svg" alt="Pin Icon" class="ml-2">
    </div>
  </div>
  <div class="mt-10">
    <h1 class="text-white font-bold text-2xl">Hi, <span class="text-slate-300">{{ fullName }}</span></h1>
    <p class="text-white font-bold">Looking's for a promo?</p>
    <div>
      <input type="text" class="mt-4 w-full h-9 rounded-lg py-4 pl-4 pr-9 placeholder:text-sm" placeholder="Search the promo here">
      <img src="assets/icons/setting-icon.svg" alt="Setting Icon" class="relative left-[90%] -top-[30px]">
    </div>
  </div>
</div>

<!-- CATEGORY SECTION -->
<div class="w-full h-max flex flex-col bg-[#fafafa] p-6 overflow-hidden">
  <h2 class="font-medium text-slate-800">Category</h2>
  <div class="w-full h-max mt-2 flex flex-row overflow-x-scroll justify-between">
    <button *ngFor="let item of listCategory" class="flex flex-row justify-center items-center h-max font-semibold text-xs text-slate-800 rounded-lg p-2 w-max bg-white shadow-sm">
      <img src="assets/icons/{{item.icon}}.svg" alt="Icon Category" class="w-5 mr-2">
      {{ item.name }}
    </button>
  </div>
</div>

<!-- DIVIDER -->
<div class="w-full h-2">
</div>

<!-- POPULAR PROMO -->
<div class="w-full bg-[#fafafa] p-6 flex flex-col overflow-x-scroll">
  <h2 class="font-medium text-slate-800">Popular Promo</h2>
  <div class="flex flex-row justify-between w-max">
    <div class="mx-1 mt-4 w-52 shadow-sm" *ngFor="let promo of listPopularPromo">
      <div class="w-full h-32 rounded-t-lg bg-cover" style="background-image: url('assets/images/{{promo.image}}');">
      </div>
      <div class="p-4">
        <div class="flex flex-row justify-between">
          <button (click)="goToDetailPage(promo.id)" class="font-semibold text-xs">{{ promo.name }}</button>
          <div class="flex flex-row justify-center items-center">
            <img src="assets/icons/star.svg" alt="Star Icon" class="w-3">
            <p class="font-semibold text-xs ml-1">{{ promo.rating }}</p>
          </div>
        </div>
        <div class="w-full">
          <p class="font-normal text-xs text-green-800">{{ promo.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DIVIDER -->
<div class="w-full h-2">
</div>

<!-- COMING SOON -->
<div class="w-full bg-[#fafafa] p-6">
  <h2 class="font-medium text-slate-800">Coming Soon</h2>
  <div class="flex flex-row justify-center">
    <img src="assets/images/coming-soon.svg" alt="Coming Soon" class="w-48 mt-4">
  </div>
</div>