<div class="w-full h-48 bg-cover p-4" style="background-image: url('assets/images/{{detailData?.image}}');">
  <button (click)="goBack()">
    <img src="assets/icons/arrow-left-circle.svg" alt="Arrow Left Circle" class="w-10">
  </button>
</div>
<div class="p-6 flex flex-col justify-between h-[calc(100vh_-_192px)]">
  <div class="w-full">
    <div class="flex flex-row justify-between">
      <h1 class="font-bold">{{ detailData?.name }}</h1>
      <div class="flex flex-row justify-center items-center">
        <img src="assets/icons/star.svg" alt="Star Icon" class="w-3">
        <p class="font-semibold text-xs ml-1">{{ detailData?.rating }}</p>
      </div>
    </div>
    <div class="w-full">
      <h2 class="font-semibold text-xl text-green-800">{{ detailData?.price }}</h2>
    </div>
    <div class="w-full mt-4">
      <h2 class="font-semibold">Store</h2>
      <div class="flex flex-row">
        <img src="assets/icons/red-pin.svg" alt="Red Pin Icon" class="mr-1 w-4">
        <p class="font-normal text-sm">{{ detailData?.storeLocation }}</p>
      </div>
    </div>
    <div class="w-full mt-4">
      <h2 class="font-semibold">Description</h2>
      <p class="font-normal text-sm">{{ detailData?.description }}</p>
    </div>
  </div>
  <div class="w-full">
    <button class="w-full h-max bg-black text-white font-semibold text-sm p-4 rounded-lg" (click)="goToOrderLocation()">Wanna order?</button>
  </div>
</div>