/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/inter-regular.ttf');
}

.overflow-x-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}