<div class="w-full h-[calc(100vh_-20px)] p-6 flex flex-col justify-center items-center">
  <img src="assets/images/success-illust.svg" alt="Success Illust" class="w-72">
  <h1 class="mt-8 font-bold text-2xl text-center">Thank you, your order is being processed to <span class="text-slate-500">{{ userAddress }}</span>.</h1>
</div>
<div class="bg-black w-full h-5 bottom-0">

</div>